@charset "UTF-8";

:root  {
    --main-text: rgba(0,0,0,.8);
    --secondary-text: #FFF;
    --tertiary-text: rgba(0,0,0,.75);

    --main-color: rgba(0,0,0,.6);
    --secondary-color: rgb(0 ,0 ,0);
} 

main  {
    height: 90vh;
    /*background-color: aquamarine;*/
}

#logo-header  {
    height: 9vh;
    padding: 0 1.5rem;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
}

#logo-header > div  {
    color: red;
}
#logo-header > a > ion-icon  {
    color: var(--tertiary-text);
}

#location  {
    margin-right: .5rem;
}

#itens-header  {
    height: 7.5vh;
    display: flex;
    align-items: center;
    background-color: black;
}

#itens-header > div:first-child  {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
    background-color: red;
}
#itens-header > div:last-child  {
    display: flex;
    gap: 1.5rem;
}

#itens-header > div:first-child > a  {
    color: var(--secondary-text);
}
#itens-header > div:last-child > a  {
    display: flex;
    gap: .5rem;
    color: var(--secondary-text);
}

#hotel  {
    margin-left: 1rem;
}

main > div#travel  {
    height: 73.5vh;
}

div#travel  {
    display: flex;
    justify-content: center;
    align-items: center;
}

form#travel-form  {
    width: 95%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    row-gap: .7rem;
}

form#travel-form > h1  {
    color: var(--main-text);
    font-weight: 300;
}

form#travel-form > input[type="text"]  {
    padding: .7rem .5rem;
    letter-spacing: 1.3px;
    font-size: 18px;
}

form#travel-form > input:last-of-type  {
    padding: .6rem 0;
    width: 50%;
    margin-top: .4rem;
    font-size: 18px;
    color: var(--secondary-text);
    background-color: var(--main-color);
    border: none;
}

/*
section.infos  {
    padding: 4.5rem 2.5%;
    background-color: rgba(230, 227, 227, 0.942);
}

section.infos > div#offers > #cinqueterre {
    background-image: url(../imagens/cinqueterre.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    margin-bottom: 1rem;
}

section.infos > div#offers > #newyork  {
    background-image: url(../imagens/newyork.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 500px;
}
*/